% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        </div>
    </div>
{% endblock %}