body {
    background-image: url(../img/fresh_snow.png);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
    text-decoration: None;
}